name: integration

on:
  push:
    branches: [ main, develop, 'feature/*' ]
  pull_request:
    branches: [ main, develop ]
  workflow_dispatch:

jobs:
  quality-and-test:
    name: Code Quality & Tests
    runs-on: ubuntu-latest
    # Variable globale pour la BDD
    env:
      DATABASE_URL: postgresql://postgres:${{ secrets.POSTGRES_PASSWORD }}@localhost:5432/scoring_db # modifié pour ne rien laisser en clair dans le yml
    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }} # modifié pour ne rien laisser en clair dans le yml
          POSTGRES_DB: scoring_db
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready 
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Install uv
      uses: astral-sh/setup-uv@v5
      with:
        enable-cache: true # Accélère les exécutions suivantes

    - name: Set up Python 3.13
      run: uv python install 3.13
    
    - name: Install Dependencies
      run: uv sync --all-extras
    
    - name: Linting with Ruff
      # On enlève --fix pour que la CI valide ton travail sans le modifier en cachette
      run: uv run ruff check . --output-format=github
    
    
    - name: Run Test Suite & Coverage
      # On ne lance les tests que si le dossier tests contient des fichiers
      if: hashFiles('tests/**') != ''
      run: uv run pytest tests/ -v --cov=app --cov=Data
      env:  # à ajouter pour les tests github actions
          API_USERNAME: ${{ secrets.API_USERNAME }}
          API_PASSWORD: ${{ secrets.API_PASSWORD }}